/* Adiciona as fontes Mohave, Montserrat e Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Mohave:wght@300;400;500&family=Montserrat:wght@400;700&display=swap");

@font-face {
  font-family: mohave-light;
  src: local(mohave),
    url(https://cdn.glitch.global/d9f9ea95-a051-4b69-becf-d2057ac98f73/Mohave-Light.ttf?v=1685755286929);
}

@font-face {
  font-family: mohave-bold;
  src: local(fonts),
    url(https://cdn.glitch.global/d9f9ea95-a051-4b69-becf-d2057ac98f73/Mohave-Bold.ttf?v=1685755293115);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    font-family: "Mohave", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 10px 10px;
    border: 1px solid #000000;
    height: 100px;
}

.paths {
    padding-top: 15px;
}

.paths a {
    padding: 0 60px;
    font-size: 26px;
    color: #000000;
    font-weight: 500;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.logo img {
    width: 197px;
}


.icons {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  cursor: pointer;
}

.icon {
  padding: 10px;
}

.icon img {
  height: 24px;

}

#icone-notifi {
  padding: 10px;
}

#icone-notifi img:hover {
  height: 25px;
}

#icone-notifi img {
  margin-top: 10px;
  height: 24px;
}


.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    color: #000000;
}

.profile span {
    font-size: 20px;
    line-height: 0.8;
}

.photo img {
    border-radius: 50%;
}

footer {
    background-color: #cacaca;
    height: 165px;
    bottom: 0;
    padding: 0 8%;
}

.container-1 {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #85b2da;
}

.footer-logo img {
    width: 146px;
    padding-top: 20px;
}

.footer-paths {
    padding-left: 20px;
}

.footer-paths a {
    padding: 12px;
    color: #666666;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.footer-icons {
    margin-left: auto;
    align-self: flex-end;
    padding-bottom: 10px;
}

.footer-icons i {
    font-size: 24px;
    color: #666666;
    padding: 0 10px;
}

.container-2 {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.footer-rights span {
    color: #666666;
}

.footer-policy a {
    padding: 0 15px;
    color: #666666;
    font-size: 14px;
    font-weight: 500;
}

.footer-policy a:nth-child(3) {
    padding-right: 0;
}


@media (max-width: 900px) {
    header {
        font-family: "Mohave", sans-serif;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px 0px 0px;
        border: 1px solid #000000;
        height: 100px;
    }

    .path {
        display: none;
    }

    .paths a {
        padding: 0 60px;
        font-size: 15px;
        color: #000000;
        font-weight: 400;
        display: none;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;

    }

    .logo img {
        width: 120px;
    }

}

.habilidades-bg {
    background-color: #C0D1F8;
    height: 1000px;
    padding: 5%;
}

.habilidades {
    font-family: 'Mohave', sans-serif;
    background-color: #FFFFFF;
    height: 1400px;
    padding: 20px 30px;
}

.habilidades-title h1 {
    font-size: 50px;
    font-weight: 500;
}

.habilidades-subtitle {
    font-size: 36px;
    font-weight: 500;
}

.habilidades-container {
    display: flex;
    padding: 20px;
}

.habilidades-itens {
    padding: 15px;
}

.habilidades-itens span {
    font-weight: 500;
    font-size: 32px;
}

.habilidades-add {
    padding-top: 40px;
}

/* POP UP NOTIFICAÇÃO */

.notificações {
  background-color: rgba(255, 255, 255, 0.89);
  width: 350px;
  height: 550px;
  position: absolute;
  top: 1;
  left: 68%;
  z-index: 1;
  border: 1px solid black;
  border-top: none;
  display: none;
}

.notificacao:hover .notificações {
  display: block;
}


div.notificações {
  font-family: mohave-light;
  text-align: center;
  display: flexbox;
  font-size: 15px;
  margin-top: 32px;


}

h3 {
  margin-top: 15px;
}

hr {

  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0.5em;

}

.fechar-notifi {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;

}