@font-face {
  font-family: mohave-light;
  src: local(mohave),
    url(https://cdn.glitch.global/d9f9ea95-a051-4b69-becf-d2057ac98f73/Mohave-Light.ttf?v=1685755286929);
}

@font-face {
  font-family: mohave-bold;
  src: local(fonts),
    url(https://cdn.glitch.global/d9f9ea95-a051-4b69-becf-d2057ac98f73/Mohave-Bold.ttf?v=1685755293115);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900$display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* TODO PLANO DE FUNDO  */
body {
  display: flex;
  justify-content: left;
  padding-left: 100px;
  align-items: center;
  min-height: 100vh;
  background: #ffffff;
  background-image: url(https://cdn.glitch.global/d9f9ea95-a051-4b69-becf-d2057ac98f73/ENGENHEIRO.jpg?v=1685908224767);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.white-paper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(
    90.99deg,
    #ffffff.100%,
    #ffffff.80%,
    rgba(255, 255, 255, 0) 90%
  );
  opacity: 1;
  background-size: cover;
  z-index: -5;
}

.box {
  position: relative;
  width: 370px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 370px;
  height: 450px;
  background: linear-gradient(60deg, transparent, #0ecd9a, #0ecd9a);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 370px;
  height: 450px;
  background: linear-gradient(60deg, transparent, #0511f2, #0511f2);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

form {
  position: absolute;
  inset: 2px;
  border-radius: 10px 10px;
  z-index: 10;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #e1f0f5, #edfffa);
}

.inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #0000009a;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  border-radius: 10px;
}

input[type="text"],
input[type="password"] {
  font-family: mohave-light;
  color: black;
}

input[type="submit"] {
  font-size: 20px;
  border: none;
  outline: none;
  background: #30eaa9;
  padding: 5px;
  margin-top: 40px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  font-family: mohave-light;
}

input[type="submit"]:hover {
  background: linear-gradient(90deg, #7cede9, #0511f2);
  opacity: 0.8;
}

.erro {
  font-family: mohave-light;
  font-size: 20px;
  position: absolute;
  top: -85%;
  left: 2%;
  display: none;
  color: red;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #000000b0;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.05s;
  font-family: mohave-light;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #000000;
  transform: translateX(-10px) translateY(-30px);
  font-size: 0.98em;
}

.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #000000;
  opacity: 0.1;
  border-radius: 10px;
  transition: 0.4s;
  pointer-events: none;
  z-index: 9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
  height: 44px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  margin: 25px 0;
  font-size: 1em;
  color: #0ecd9a;
  text-decoration: none;
  margin-top: 10px;
}

.links a:hover,
.links a:nth-child(2) {
  color: #0ecd9a;
}

.links a:nth-child(2):hover {
  text-decoration: underline 2px;
  text-underline-offset: 5px;
}

.links a:nth-child(1):hover {
  text-decoration: underline 2px;
  text-underline-offset: 5px;
}
